###### Теория вероятностей и математическая статистика

## Домашнее задание 9

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st

* сочетания - *combinations*
* перестановки - *arrangements*
* перемещения - *permutations*

In [2]:
def combinations (n, k):
    return np.math.factorial(n) // (np.math.factorial(k) * np.math.factorial(n - k))

def arrangements (n, k):
    return np.math.factorial(n) // np.math.factorial(n - k)

def permutations (n):
    return np.math.factorial(n)

def bernulli (n, probability, target):
    return combinations (n, target) * probability**target * (1 - probability)**(n - target)

def poisson (n, probability, target):
    return ((n * probability)**target / np.math.factorial(target)) * np.math.e**(-(n * probability))

def unbiased_variance (data: pd.Series(dtype='float64')):
    avg = data.sum() / data.count ()
    unbiased_variance = ((data - avg) ** 2).sum() / (data.count()-1)

1. Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks): zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]. 

Используя математические операции, посчитать коэффициенты линейной регрессии, приняв за X заработную плату (то есть, zp - признак), а за y - значения скорингового балла (то есть, ks - целевая переменная). Произвести расчет как с использованием intercept, так и без.

In [3]:
zp = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

$$b_1 = \frac{\overline{yx} - \overline{y} \cdot {\overline{x}}}{\overline{x^2} - (\overline{x})^2}, \: b_0 = \overline{y} - b_1 \cdot {\overline{x}}.$$

In [4]:
b1 = ((zp * ks).mean() - zp.mean() * ks.mean()) / ((zp ** 2).mean() - (zp.mean() ** 2))
b1

2.620538882402765

In [6]:
a1 = ks.mean() - b1 * zp.mean()
a1

444.1773573243596

$$b = (X^\top X)^{-1} X^\top y.$$

In [7]:
zp1 = zp.reshape(-1, 1)
zp1

array([[ 35],
       [ 45],
       [190],
       [200],
       [ 40],
       [ 70],
       [ 54],
       [150],
       [120],
       [110]])

In [8]:
ones = np.ones((zp1.shape[0], 1))
zp1 = np.hstack((ones, zp1))

In [9]:
zp1

array([[  1.,  35.],
       [  1.,  45.],
       [  1., 190.],
       [  1., 200.],
       [  1.,  40.],
       [  1.,  70.],
       [  1.,  54.],
       [  1., 150.],
       [  1., 120.],
       [  1., 110.]])

In [15]:
ks1 = ks.reshape(-1, 1)
ks1

array([[401],
       [574],
       [874],
       [919],
       [459],
       [739],
       [653],
       [902],
       [746],
       [832]])

In [17]:
XTX = zp1.T.dot(zp1)

np.linalg.det(XTX)

349464.00000000023

In [18]:
XTX_inv = np.linalg.inv(XTX)

b = XTX_inv.dot(zp1.T).dot(ks1)

b

array([[444.17735732],
       [  2.62053888]])

Коэффициенты совпадают с вычисленными с помощью линейной регрессии.

In [20]:
zp2 = np.vstack([np.ones((1, 10)), zp])
zp2

array([[  1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.,   1.],
       [ 35.,  45., 190., 200.,  40.,  70.,  54., 150., 120., 110.]])

In [22]:
np.dot(np.dot(np.linalg.inv(np.dot(zp2, zp2.T)), zp2), ks.T)

array([444.17735732,   2.62053888])

2. Посчитать коэффициент линейной регрессии при заработной плате (zp), используя градиентный спуск (без intercept).

In [142]:
zp_t2 = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
ks_t2 = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [149]:
alpha = 1e-6
w1 = 0.1

In [150]:
def mse(w1, y=ks_t2, x=zp_t2, n=10):
    return np.sum((w1 * x - y) ** 2) / n
mse_min = mse(b1, zp, ks)
i_min = 1
b_min = b
iteration_1 = 3000

In [151]:
for i in range(iteration_1):
    fp = (1 / 10) * np.sum(2 * (w1 * zp - ks) * zp)
    w1 -= alpha * fp
    if i % 100 == 0:
        print(f'iteration: {i}, w1 : {w1}, mse: {mse_(w1) }')

iteration: 0, w1 : 0.25952808000000005, mse: 493237.7212546963
iteration: 100, w1 : 5.54537842245223, mse: 58151.31823171113
iteration: 200, w1 : 5.868748638669329, mse: 56522.97550129376
iteration: 300, w1 : 5.888531320728348, mse: 56516.88130936019
iteration: 400, w1 : 5.8897415574471985, mse: 56516.85850140053
iteration: 500, w1 : 5.889815595583751, mse: 56516.858416040064
iteration: 600, w1 : 5.889820124983314, mse: 56516.85841572062
iteration: 700, w1 : 5.889820402076462, mse: 56516.85841571941
iteration: 800, w1 : 5.88982041902807, mse: 56516.8584157194
iteration: 900, w1 : 5.889820420065112, mse: 56516.85841571941
iteration: 1000, w1 : 5.8898204201285544, mse: 56516.85841571941
iteration: 1100, w1 : 5.889820420132437, mse: 56516.85841571943
iteration: 1200, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 1300, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 1400, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 1500, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 1600, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 1700, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 1800, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 1900, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2000, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2100, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2200, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2300, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2400, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2500, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2600, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2700, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2800, w1 : 5.889820420132673, mse: 56516.85841571943
iteration: 2900, w1 : 5.889820420132673, mse: 56516.85841571943

3. Произвести вычисления как в пункте 2, но с вычислением intercept. Учесть, что изменение коэффициентов должно производиться на каждом шаге одновременно (то есть изменение одного коэффициента не должно влиять на изменение другого во время одной итерации).

In [85]:
def mse(b0, b1, x=zp, y=ks):
    return np.sum(((b0 + b1 * x) - y)**2) / len(x)

In [86]:
def mse_b0(b0, b1, x = zp, y = ks):
    return 2 * np.sum((b0 + b1 * x) -y) / len(x)

In [87]:
def mse_b1(b0, b1, x = zp, y = ks):
    return 2 * np.sum(((b0 + b1 * x) - y) * x) / len(x)

In [83]:
alpha = 5e-05
b1 = 0.1
b0 = 0.1
mse_min = mse(b0, b1)
i_min = 1
b1_min = b1
b0_min = b0

In [88]:
for i in range(1000000):
    b0 -= alpha * mse_b0(b0, b1)
    b1 -= alpha * mse_b1(b0, b1)
    if i % 50000 == 0:
        print(f'Итерация {i}: b0 = {b0}, b1 = {b1}, mse = {mse(b0, b1)}')
    if _mse(b0, b1) > mse_min:
        print(
            f'Итерация {i_min}: b0 = {b0_min}, b1 = {b1_min}, mse = {mse_min},\nДостигнут минимум.')
        break
    else:
        mse_min = mse(b0, b1)
        i_min = i
        b1_min = b1
        b0_min = b0
print(f'b0 = {b0_min} \nb1 = {b1_min}')

Итерация 0: b0 = 0.169966, b1 = 8.07468054476, mse = 122318.06397097567
Итерация 50000: b0 = 319.27767648420047, b1 = 3.5398324356503275, mse = 10427.569111705801
Итерация 100000: b0 = 409.0442373734796, b1 = 2.879127619051743, mse = 6783.521961452364
Итерация 150000: b0 = 434.29473705519484, b1 = 2.693277491833349, mse = 6495.188684804794
Итерация 200000: b0 = 441.3974680483413, b1 = 2.6409995775222037, mse = 6472.374468908443
Итерация 250000: b0 = 443.39540029510493, b1 = 2.62629428586797, mse = 6470.569306309746
Итерация 300000: b0 = 443.95740007610897, b1 = 2.622157823932053, mse = 6470.426473787141
Итерация 350000: b0 = 444.1154853937451, b1 = 2.6209942756156086, mse = 6470.415172240385
Итерация 400000: b0 = 444.159953325044, b1 = 2.6206669802831115, mse = 6470.414278011555
Итерация 450000: b0 = 444.1724617410292, b1 = 2.6205749151465225, mse = 6470.414207256183
Итерация 500000: b0 = 444.1759802422447, b1 = 2.6205490180788695, mse = 6470.414201657699
Итерация 520164: b0 = 444.17653163778414, b1 = 2.62054495966686, mse = 6470.414201349592,
Достигнут минимум.
b0 = 444.17653163778414
b1 = 2.62054495966686